<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>The Ultimate VR Treadmill Forum</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../public/css/normalize.css">
		<link rel="stylesheet" href="../public/css/headerAndFooterStyle.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	</head>

	<!-- Sort of nav dark blue color whith white text -->
	<header>
		<nav>
			<ul class="menu">
				<li class="logo"><a href="#">The ULTAMATE Treadmill VR-Forum</a></li>
				<li class="item"><a href="#">Home</a></li>
				<li class="item has-submenu">
					<a tabindex="0">Info</a>
					<ul class="submenu">
						<!-- <li class="subitem"><a href="info/vrHeadsets.html">VR Headsets</a></li> -->
						<li class="subitem"><a href="">Katwalk C Manual</a></li>
						<li class="subitem"><a href="">GateWay Software Download</a></li>
					</ul>
				</li>
				<li class="item has-submenu">
					<a tabindex="0">Care and Repair</a>
					<ul class="submenu">
						<li class="subitem"><a href="">Common Problems</a></li>
						<li class="subitem"><a href="">Service Products</a></li>
					</ul>
				</li>
				<li class="item has-submenu">
					<a tabindex="0">Chat</a>
					<ul class="submenu">
						<li class="subitem"><a href="">General Forum</a></li>
						<li class="subitem"><a href="">PLACEHOLDER</a></li>
					</ul>
				</li>
				<li class="item"><a href="#Contact">Contact</a></li>

				<li class="item button"><a href="#">Log In</a></li>
				<li class="item button secondary"><a href="#">Sign Up</a></li>
				<li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
			</ul>
		</nav>
	</header>

	<body>

		<h1>KAT Walk C Maintenance Info</h1>





		<!-- <img src="Assets\Main page Picture.jpg" alt="KatWalkC Treadmill PlaceHolder"> -->
		<!-- Carousel -->
		<!-- <section class="slider-wrapper">
			<button class="slide-arrow" id="slide-arrow-prev">
				&#8249
			</button>
			<button class="slide-arrow" id="slide-arrow-next">
				&#8250
			</button>
			<div class="slides-container" id="slides-container">
				<div class="slide"></div>
				<div class="slide"></div>
				<div class="slide"></div>
				<div class="slide"></div>
			  </div>
			</div>
		</section> -->

		<!-- 2.0 -->

		<!-- <div class="slideshow-container">
			<div class="slideshow-inner">
			  <div class="mySlides fade">
			
				<img  src='Assets\1.jpg' style='width: 100%;' alt="VR Treadmill"/>
				<div class="text"></div>
			  </div>
			
			  <div class="mySlides fade">
			
				<img  src='' style='width: 100%;' alt="Vr Headset Pictures"/>
				<div class="text"></div>
			  </div>
			
			  <div class="mySlides fade">
			
				<img  src='' style='width: 100%;' alt="Tredmill Pictures"/>
				<div class="text"></div>
			  </div>
			
			  <div class="mySlides fade">
			
				<img  src='' style='width: 100%;' alt="Something Else?"/>
				<div class="text"></div>
			  </div>
			  
			  </div>
			
			
			  <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
			  <a class="next" onclick='plusSlides(1)'>&#10095;</a>
			</div>
			<br/>
			
			
			<div style='text-align: center;'>
			  <span class="dot" onclick='currentSlide(1)'></span>
			  <span class="dot" onclick='currentSlide(2)'></span>
			  <span class="dot" onclick='currentSlide(3)'></span>
			  <span class="dot" onclick='currentSlide(4)'></span>
			</div>
			
			</div> -->





		<!-- <p>I'm avr enthuisients who bough thte katwalc c abnd it didnt work. I sepnd hours trying and then hours going thorugh troublshooting. I couldnt find any resources onliune so I;'m making my own</p> -->
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laborum soluta doloribus error at deserunt accusamus quos dolorem saepe! Quos iste unde totam natus id nesciunt velit aliquid ipsa.</p>

		<script type="text/javascript" src="../js/main.js"></script>
	</body>



	<footer>
		<nav>
			<ul class="menu">
				<li class="item"><a href="">GitHub</a></li>
				<li class="item"><a href="">Email</a></li>
				<li class="item"><a href="">Twitter</a></li>
			</ul>
		</nav>
	</footer>
</html>
