<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>VR Headsets</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../public/css/normalize.css">
		<link rel="stylesheet" href="../public/css/info/vrHeadsets/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	</head>

    <header>
		<nav>
			<ul class="menu">
				<li class="logo"><a href="#">The ULTAMATE VR-Forum</a></li>
				<li class="item"><a href="#">Home</a></li>
				<li class="item has-submenu">
					<a tabindex="0">Info</a>
					<ul class="submenu">
						<li class="subitem"><a href="info/vrHeadsets.html">VR Headsets</a></li>
						<li class="subitem"><a href="">Katwalk C Manual</a></li>
						<li class="subitem"><a href="">GateWay Software Download</a></li>
					</ul>
				</li>
				<li class="item has-submenu">
					<a tabindex="0">Care and Repair</a>
					<ul class="submenu">
						<li class="subitem"><a href="">Common Problems</a></li>
						<li class="subitem"><a href="">PLACEHOLDER</a></li>
					</ul>
				</li>
				<li class="item has-submenu">
					<a tabindex="0">Chat</a>
					<ul class="submenu">
						<li class="subitem"><a href="">General Forum</a></li>
						<li class="subitem"><a href="">PLACEHOLDER</a></li>
					</ul>
				</li>
				<li class="item"><a href="#Contact">Contact</a></li>

				<li class="item button"><a href="#">Log In</a></li>
				<li class="item button secondary"><a href="#">Sign Up</a></li>
				<li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
			</ul>
		</nav>
	</header>